## Kevin Kirby Discussion Board Week 8 Submission

In [2]:
import pandas as pd

### 1: How would you delete:

* An index from your dataframe
* A column from your dataframe
* A row from your dataframe

Answer:

An index from the dataframe:

In [9]:
data_smash_df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(f"current index: {data_smash_df.index}")

data_smash_df.drop(index=0, inplace=True)
print(f"new index: {data_smash_df.index}")

current index: RangeIndex(start=0, stop=3, step=1)
new index: RangeIndex(start=1, stop=3, step=1)
reset index: RangeIndex(start=0, stop=2, step=1)

A column from the dataframe:

In [10]:
data_smash_df.drop(columns=['A'], inplace=True)
print(data_smash_df)

   B
1  5
2  6

A row from the dataframe:

In [12]:
data_smash_df.drop(index=1, inplace=True)
print(data_smash_df)

   B
2  6

## 2. How do you iterate over a pandas dataframe?

Answer:
To interate over a pandas df, you can use ```iterrows()```

In [13]:
dataframer = pd.DataFrame({'horcrux': [10, 20, 30], 'wizards': [40, 50, 60]})
for index, row in dataframer.iterrows():
    print(f"Index: {index}, A: {row['horcrux']}, B: {row['wizards']}")

Index: 0, A: 10, B: 40
Index: 1, A: 20, B: 50
Index: 2, A: 30, B: 60

## 3. How would you convert a string to a date?

Answer:
You can use the ```pd.to_datetime()``` function to convert a string to a date.

In [15]:
dataframe_timer = pd.DataFrame({'date_string': ['2024-01-01', '2024-02-01', '2024-03-01']})
dataframe_timer['date_string'] = pd.to_datetime(dataframe_timer['date_string'])
print(dataframe_timer)

  date_string
0  2024-01-01
1  2024-02-01
2  2024-03-01

## 4. What is data aggregation?  Give an example in Python.

Answer:
Data aggregation is the act of taking data from a more granular level and rolling it up to a higher level. For instance, individual stock purchases in a stock market can be aggreated to show total stock purchases for that day.  You can use```groupby()``` to group the data by a column and then use ```agg()```  to aggregate the grouped data

In [16]:
grouper_df = pd.DataFrame({'Category': ['A', 'B', 'A', 'B'], 'Values': [10, 20, 30, 40]})

group_sum = grouper_df.groupby('Category').agg({'Values': 'sum'})
print(group_sum)

          Values
Category
A             40
B             60

## 5. What is GroupBy in Pandas (groupby()). Give an example in Python.

Answer:
```groupby``` allows you to group data based on one or more columns and then apply aggregation functions to the grouped data. In the last queation, I used it to prepare data for a summed aggregation.

In [17]:
onemore_df  = pd.DataFrame({'Category': ['A', 'B', 'A', 'B'], 'Values': [10, 20, 30, 40], 'Values2': [100, 200, 300, 400]})
group_sum = onemore_df.groupby('Category').agg({'Values': 'sum', 'Values2': 'mean'})
print(group_sum)

          Values  Values2
Category
A             40    200.0
B             60    300.0